[2018-01-17 03:37] jeffpaul opened #1 "Refactor processing of audits"
- [x] S3 integration
- [x] Setting project meta in API
- [x] Setting project author in API
- [x] Look for CodeInfo missing fields from API object and follow pattern as per Symfony app

[2018-01-17 03:37] jeffpaul opened #2 "Create base Lighthouse docker image"

[2018-01-17 03:37] jeffpaul opened #3 "Put binary onto docker image"

[2018-01-17 03:38] jeffpaul opened #4 "Refactor functional code to be testable"

[2018-01-17 03:39] jeffpaul opened #5 "Makefile with rulesets to build (binary, docker image), run, clean, test"
Rulesets:
- [x] build binary
- [x] build docker image
- [x] run
- [x] clean
- [x] test

[2018-01-17 03:39] jeffpaul opened #6 "Confirm license to use"
Currently showing MIT license, should this be GPLv2?
https://github.com/xwp/go-tide/blob/develop/LICENSE

[2018-01-17 20:34] jeffpaul commented on #6
@lukecarbis with the Lighthouse integration being written in Go, a question exists as to the license to apply to this repo ([currently shown as MIT](https://github.com/xwp/go-tide/blob/develop/LICENSE)). Note that this repo is currently private, the rest of Tide is open sourced and licensed as GPLv2, and that the Go project is distributed under a [BSD-style license](https://golang.org/LICENSE). So

[2018-02-02 05:04] rheinardkorf commented on #6
@jeffpaul I posted a comment in Slack re the licensing. I believe that GPL is not in our best interest for future derivative works or forks. We risk having to refactor any similar functionality again if we want to distribute it without source.

[2018-02-06 22:41] jeffpaul commented on #6
Closing this with MIT license as the open source license to use.

[2018-02-06 22:41] #6 closed, assigned to jeffpaul

[2018-02-06 23:11] rheinardkorf opened #11 "Remove NOTICE file"
NOTICE is a requirement of the BSD license. We don't need to keep track of changes in NOTICE. The git log is sufficient.

[2018-02-14 02:34] #11 closed, assigned to nobody

[2018-02-22 19:15] jeffpaul opened #16 "LH theme audit on WP instance on GCP"
via Derek:
We will need to solve the original ask of spinning up a WP instance on GCP installing a theme and running a LH audit at some point. The issue is how to install WP inside a Kubernetes cluster exposing a public IP auditing and destroy the instance once the audit is done. Also handling SSL and ensuring the performance of the server is repeatable and inline with other hosts.

[2018-02-22 22:25] jeffpaul opened #17 "Confirm how to handle DNS on GCP"
via Derek:
We need an Amazon Route 53 equivalent on GCP to manage DNS. How do we setup the cluster and point that IP to DNS? This could be something to get advice from Alberto/Terrence on.

[2018-02-23 21:35] #2 closed, assigned to valendesigns

[2018-02-23 21:35] #5 closed, assigned to rheinardkorf

[2018-02-23 21:35] #4 closed, assigned to rheinardkorf

[2018-02-23 21:35] #3 closed, assigned to rheinardkorf

[2018-02-23 21:41] jeffpaul opened #18 "Add Coveralls Go coverage + badge to repo"
what it says

[2018-02-23 21:48] jeffpaul opened #19 "Test new AS output"
- [ ] grab 3 plugins and 3 themes output from currently active API
- [ ] grab the same plugins and themes output from the rewritten GCP-version of the AS
- [ ] compare output and log Issues where there are differences

[2018-02-23 21:52] jeffpaul opened #20 "migrate Sync Server to GCP / Go"

[2018-02-26 15:10] danlouw commented on #19
With the latest changes I am able to build and run both the Lighthouse and PHPCS servers, but then I get:

[code]

And messages in the queue are not being picked up.

This would seem to indicate that the PHPCS server is unable to connect to SQS, even though my `.env` file is configured as before.

I will connect with @rheinardkorf  tomorrow to see if he has any insights on the issue

[2018-02-27 00:02] danlouw commented on #19
By debugging with Rheinard we were able to confirm that the issue is not in the Go code, since we are able to access the SQS queue when running `main.go` stand-alone.

This means that the issue is with the Docker container.

Continuing debugging to determine what's going wrong.

[2018-02-27 00:05] rheinardkorf commented on #19
Not sure if this is a potential issue or not, @valendesigns , do we need ssl root certs installed in the image or do they already exist?

[2018-02-27 00:06] valendesigns commented on #19
@rheinardkorf We're not running `ssh`, so why would we need the certs for it?

[2018-02-27 00:07] rheinardkorf commented on #19
@valendesigns I meant ssl.... wondering if accessing any of the aws sdks requires it. Stab in the dark :)

[2018-02-27 00:09] valendesigns commented on #19
Maybe, I'll add them and then we can test. Give me a couple minutes.

[2018-02-27 00:16] valendesigns commented on #19
@danlouw & @rheinardkorf please pull the changes in https://github.com/xwp/go-tide/pull/21 and rebuild the image to test

[2018-02-27 00:17] rheinardkorf commented on #19
@valendesigns bingo! that did the trick... merging the PR.

[2018-02-27 00:36] rheinardkorf commented on #19
@valendesigns now I'm curious what my comment was :D

[2018-02-27 02:39] danlouw commented on #19
Thanks @valendesigns and @rheinardkorf ! My PHPCS server now has access to SQS and can initiate audits based on messages in the queue.

I am seeing some issues with auditing and sending results back to Tide API though. Investigating now and will report back with details.

[2018-02-27 11:29] danlouw commented on #19
@rheinardkorf  , sorry about this essay, but maybe it can help to resolve some of the issues I’m seeing async.

Here’s an example of what’s happening with the PHPCS Server in my local:

I’ve placed a message for the Twenty Seventeen theme in the SQS queue.

When I start the PHPCS Server it starts polling the queue and picks up the message, but then gives the following output:

[code]

Note specifi

[2018-02-28 03:37] jeffpaul opened #22 "PR to tide-local repo for updated sync-server"
via Derek:
we need to get a PR out to the `tide-local` repo for the updated `sync-server`. This will be to update the `docker-compose.yml`, `.env.dist`, and `README.md` with the new environment variables.

[2018-02-28 09:31] danlouw commented on #19
@rheinardkorf @valendesigns , I’ve now been able to sort out issues with `phpcs` in GoLand debugging, which enabled me to find the source of the `Unexpected status code.` from Tide API.

The short version is:  The Go PHPCS Server does not support a specific audit post (post ID) route as `response_api_endpoint`.

I’ve been using the “Audit Request via API” use case for testing, where I send a reque

[2018-02-28 11:57] rheinardkorf commented on #19
@danlouw thanks! That is very useful feedback.

There is logic in `ingest.go` to attempt to get existing results from the Tide API (https://github.com/wptide/pkg/blob/master/audit/ingest/ingest.go#L58) which then adds this to r["tideItem"].  Then in `tide.go` we attempt to use an existing result (from the post endpoint) as the payload.

If this was not a collection endpoint (e.g. a post endpoint)

[2018-03-01 02:39] rheinardkorf commented on #19
@danlouw @valendesigns I have discovered the cause of this issue.  It is located in https://github.com/wptide/pkg/blob/master/audit/tide/tide.go#L198-L214

I check here for validation if it is a collection endpoint because if you send a payload to an existing WP post you do not need to provide all fields.  The problem, however, is that the payload doesn't omit the fields, it sends empty fields. Th

[2018-03-01 05:32] rheinardkorf commented on #20
New Sync Server is ready for review.  PR #23

This is just the code, still outstanding is Dockerfile and Makefile config.

[2018-03-01 05:34] rheinardkorf commented on #1
Seems that #19 supersedes this now.

[2018-03-06 05:59] valendesigns commented on #22
https://github.com/wptide/tide-local/pull/8 waiting CR

[2018-03-06 23:44] jeffpaul opened #24 "Test new Sync Server output"

[2018-03-06 23:46] jeffpaul opened #25 "audit dev library for what needs to be ported"

[2018-03-06 23:46] jeffpaul opened #26 "replace SDKs for GCP replacements of AWS services"

[2018-03-07 05:41] rheinardkorf opened #27 "Update structure for PHPCompatibility "details"."
[code]

[2018-03-08 05:54] rheinardkorf commented on #27
See https://github.com/wptide/pkg/pull/4

[2018-03-08 05:57] danlouw opened #28 "Audit servers generate identical checksums for multiple projects"
Steps to reproduce:

- Run the Sync Server locally to populate the SQS queues for Themes and Plugins (including Lighthouse)
- Run the PHPCS and Lighthouse server locally to work through items in the queues

Results:
[code]
and
[code]

As a result, only two audit posts show up in API. In this case for `i-amaze` and `Custom Lite`.

Expected result:

- Each project should have a unique checksum

- We

[2018-03-08 06:17] danlouw opened #29 "Higher value for SYNC_POOL_WORKERS causes errors in Sync Server"
Steps to reproduce:

- Run the Sync Server locally with a value of `SYNC_POOL_WORKERS=250` in `.env` (the default value in `.env.dist`)

Result:

Usually the server is able to reach this point:
[code]
But then starts getting errors like:

[code]

I've tried lowering the value for `SYNC_POOL_WORKERS` from 250 to 125, then to 50, then to 25.

I got errors for all values except 25, although there's p

[2018-03-08 22:57] rheinardkorf commented on #28
@danlouw thanks for detailed breakdown.

I will look at the pipeline today.  I am going to turn the `processMessage` func into a method of a new `struct` and remove some of the globals.  Without having inspected very closely yet, it looks like in some cases when ingest fails (which should cause a critical fail for the current pipeline) that it gets a previous value.

Using objects with props and m

[2018-03-08 22:59] rheinardkorf commented on #29
We need to take into account resource usage, but the first issue to resolve this would be to create an SQS client pool.  Currently we have 1 client serving all the requests. It would be better to let several clients distribute the load and hopefully mitigate connection errors.

[2018-03-09 02:49] valendesigns opened #30 "Add Lighthouse to the SQS message"
We need to identify the options needed for adding Lighthouse to `defaultAudits`, and also add `lighthouse` to `defaultStandards` so the SQS message is complete.

[2018-03-09 02:50] #18 closed, assigned to nobody

[2018-03-09 02:50] #20 closed, assigned to rheinardkorf

[2018-03-09 02:50] #24 closed, assigned to nobody

[2018-03-09 03:12] valendesigns opened #31 "Sync Server: Add Google Firestore as a queue provider"
Locally we can continue to use the flat file system we already have and in production or a QA/Dev environment we should implement a datastore either with Cloud Firestore or Cloud Datastore. This would mean adding a few new environment variables to activate the datastore, i.e. `FIRESTORE_ACTIVE=on|off`. However, we shouldn't need any other configuration variables since we would authenticate using a

[2018-03-09 03:35] valendesigns commented on #1
Closing in favor of #19

[2018-03-09 03:35] #1 closed, assigned to rheinardkorf

[2018-03-09 05:38] valendesigns commented on #27
Fixed by https://github.com/xwp/go-tide/commit/8e491a463708370ab4447bff67e8f8a421b75e19

[2018-03-09 05:38] #27 closed, assigned to rheinardkorf

[2018-03-09 06:11] valendesigns opened #32 "Tide API generates two post objects due to a race condition"
When running an audit for a theme there is a race condition. If no endpoint exists for the checksum, both the PHPCS & Lighthouse servers will send their reports back to the API which creates two completely separate post objects. However, if one finishes posting the payload back to the API before the other service checks for the existing endpoint, everything works as expected.

[2018-03-10 06:53] valendesigns commented on #32
I just had a thought. If the audits servers were to always POST to the checksum endpoint when it doesn't exist we could let the WP API handle the race condition on update/create. I don't see a reason why we couldn't ensure the audit servers always POST to a checksum endpoint when the API responds without an object and do an UPDATE when it does. Then add any logic, if any, to the WP action that han

[2018-03-10 07:10] valendesigns commented on #30
Once this is normalized in the message we need to ensure it can be duplicated on the WP API side so if the message came from a POST to the API it still works as expected.

Also, thinking out loud here... when we switch to a datastore we can add another layer of race condition protection by setting the `status` of the entry to `processing` or `running` or something else that makes the most sense. P

[2018-03-10 07:25] valendesigns commented on #31
Just to clarify a few things. We can and should set up the GCP data store locally so we're testing in a production like environment. However, the ability to leave GCP out of the equation for local dev is something we should be striving for with all the SDK's, including Cloud Storage.

For example, if we save the reports to`/srv/data/{report-name}.json` on the image and create a volume on the host

[2018-03-10 08:03] valendesigns opened #35 "Add a YAML generator for GCP deployments"
Instead of creating resources within the `gcloud` cli, we could create YAML templates that we use to generate untracked files that have environment variables injected into them. This way we can do more complex automated deployments and even do them from Travis CI.

[2018-03-12 23:01] rheinardkorf commented on #28
I believe this issue to be resolved.

[2018-03-15 00:07] valendesigns opened #36 "Add payload_type to SQS message"
We should add a `payload_type` to the SQS message which indicates the type of payload the services should be responding with. For example, if the payload is meant to be sent back to the API we could set the value to `wp-api`. However, if the payload is meant to be sent back to Github the value would be `github-public` for public repos and maybe `github-private` for private ones or perhaps just `gi

[2018-03-15 00:24] valendesigns commented on #32
### Update

* Send the payload back to the endpoint that was given in the SQS message.
  * By respecting the endpoint this will ensure the Sync Server is facilitating a "return to sender" scenario by only using collection endpoints instead of performing unnecessary conditional logic to checksum each plugin/theme.
* Handle create/update logic on the API side.
  * Add a filter that will check if the

[2018-03-19 20:45] jeffpaul opened #37 "Migrate API to go-tide repo, setup for full local testing"
- [ ] Migrate API to go-tide repo
- [ ] Ensure env variables are working
- [ ] Setup local environment
- [ ] Cleanup build script
- [ ] Remove Redis
- [ ] Setup GCP deployment & makefile
- [ ] Add Memcached
- [ ] Test E2E
- [ ] Add setup docs

[2018-03-21 14:49] jeffpaul opened #38 "Test the wp-specific ruleset"
Instructions on how to pull in the new wordpress.xwl file: https://github.com/wimg/PHPCompatibility#using-a-frameworkcms-specific-ruleset

We'll want to pull in the new code and replace the standard with the file in the cli command.

[2018-03-28 23:29] #35 closed, assigned to nobody

[2018-04-11 12:08] #22 closed, assigned to nobody

[2018-04-11 12:08] #17 closed, assigned to valendesigns

[2018-04-12 10:28] valendesigns opened #43 "Migrate dev library components to Tide/GCP"

[2018-04-12 10:29] valendesigns opened #44 "GitHub webhook/HTTP Listener"

[2018-04-12 10:34] valendesigns opened #45 "GitHub Payload"

[2018-04-12 23:10] valendesigns opened #46 "Refactor and ensure DRY environment variables"
This should be a fast follow to the [API](#42) being merged.

[2018-04-19 01:33] valendesigns commented on #38
@rheinardkorf In the PHPCS Server if the type of project is a theme or plugin replace the standard with the ruleset file for WordPress.

[2018-04-19 01:34] valendesigns commented on #38
`--standard=path/to/PHPCompatibility/framework-rulesets/framework-name.xml`

[2018-04-19 02:48] #37 closed, assigned to valendesigns

[2018-04-19 02:48] #46 closed, assigned to valendesigns

[2018-04-19 02:50] valendesigns opened #47 "Add Props"
Add props for all the people that have contributed to Tide since the start in alphabetical order. They can be found in the readme of all the [`wptide`](https://github.com/wptide) repos. Search for contributors and add them to our `README.md`.

[2018-04-19 04:22] valendesigns opened #49 "Add option to use local storage for the API"
### Description

Currently the API depends on Cloud Storage to upload images. It would be great to allow local to not be dependent on GCP and store the images in the uploads directory on the host machine.

### Solution

Add a storage driver option that allows for `local` or `cloud` to be used when uploading images to WordPress and deactivates `service/api/wp-content/mu-plugins/gcs-upload.php`. Als

[2018-04-19 08:44] #49 closed, assigned to nobody

[2018-04-19 09:20] valendesigns opened #52 "Docs to explain where to find the API Key and Secret"
### Description

It's not clear where these values are stored or even which user they should be associated with or where it can be found. We need to add a section about the users that get created, that the servers need to the secret and key of the `audit-server` user, and it can be found on the user profile.

[code]

[2018-04-20 00:16] rheinardkorf commented on #38
@valendesigns onto it... just need to work out how to do this in the phpcs-server and not in `pkg` as the message only gets received in the process. Mind is ticking....

[2018-04-20 05:33] valendesigns opened #53 "Add Redis to the API"
We need some caching and Redis can be easily implemented with PHP 7.2.

[2018-04-20 06:46] #30 closed, assigned to nobody

[2018-04-20 10:24] valendesigns commented on #25
This should be done in a private repo

[2018-04-20 10:24] #25 closed, assigned to nobody

[2018-04-20 10:25] #43 closed, assigned to nobody

[2018-04-30 22:05] #53 closed, assigned to valendesigns

[2018-05-01 14:06] rheinardkorf opened #56 "Debug processing pipeline."
There are some issues with the processing pipeline as it passes a message down the pipeline. Here are some known cases...

1. The "Ingest" process that kicks it all off does not appear to send all messages to the next process.
This may well be related to the next issue (or even caused by the next issue).

2. The <processor>.Result object does not always seem to get passed from one process to the n

[2018-05-01 14:07] rheinardkorf commented on #56
@DavidCramer hope this describes enough for you to take a look.

[2018-05-01 14:30] DavidCramer commented on #56
@rheinardkorf that explains it very well thanks. And, that also explains why I couldn't get it working last week. I thought I missed something, but now I understand.

[2018-05-08 05:01] #28 closed, assigned to rheinardkorf

[2018-05-08 05:01] #32 closed, assigned to nobody

[2018-05-08 05:01] #38 closed, assigned to rheinardkorf

[2018-05-08 05:05] DavidCramer commented on #56
@rheinardkorf is this still valid? looks like you resolved it already.

[2018-05-08 05:08] #47 closed, assigned to DavidCramer

[2018-05-08 05:09] #56 closed, assigned to DavidCramer

[2018-05-08 05:09] #36 closed, assigned to nobody

[2018-05-10 02:33] jeffpaul opened #57 "Research replacing Pub/Sub with Firestore"
### Description

 - firestore has transactional, can update during a read
 - sync server: firestore for storing themes/plugins that are already audited vs. local storage

[2018-05-10 02:36] jeffpaul opened #58 "Research go-tide auditing errors"
### Description

1. setup Tide
2. run audits
3. turn on Sync Server, get audits in queue
4. let PHPCS/LH servers run
5. look through results for errors
6. document errors as GitHub Issues
7. research errors (as feasible)

[2018-05-10 02:37] jeffpaul commented on #58
@DavidCramer as you get time, it would be immensely helpful to have your review of the new go-tide version of Tide to identify errors in the results so that the team can work through resolving those together.

[2018-05-11 09:02] DavidCramer commented on #58
@jeffpaul I've been playing and making notes. So far I got for the initial setups and configs. I'll continue and document my findings.

[2018-05-14 18:31] jeffpaul opened #59 "DevOps"
Epic to track all work related to `DevOps`

[2018-05-17 00:56] valendesigns opened #63 "Ensure all PHPCS standards are supported"
### Description

We currently only support a subset of the available standards in the Go struct, we should make sure all of the standards the API supports are represented.

### Steps to Reproduce

1. Create an audit request using the `phpcs_wordpress-core` standard.

**Expected behavior:** An audit is requested and the PHPCS Server picks it up and sends the payload back to the API where you can se

[2018-05-18 02:33] jeffpaul opened #65 "PHPCS Server: Add Google Cloud Storage as a storage provider"

[2018-05-18 02:34] jeffpaul opened #66 "PHPCS Server: Add Google Firestore as a queue provider"

[2018-05-18 02:34] jeffpaul opened #67 "Lighthouse Server: Add Google Cloud Storage as a storage provider"

[2018-05-18 02:34] jeffpaul opened #68 "Lighthouse Server: Add Google Firestore as a queue provider"

[2018-05-18 02:35] jeffpaul opened #69 "Sync Server: Add Google Firestore as a queue provider"

[2018-05-18 02:35] jeffpaul opened #70 "Sync Server: Use Cloud Firestore as a the data GCP data storage option"

[2018-05-18 02:49] #52 closed, assigned to nobody

[2018-05-18 11:20] valendesigns commented on #57
This is done.

[2018-05-18 11:20] #57 closed, assigned to valendesigns

[2018-05-19 05:18] valendesigns opened #71 "Remove concurrency variables"
`LH_CONCURRENT_AUDITS` and `PHPCS_CONCURRENT_AUDITS` are no longer in use, we should remove them from `.env.dist` and `README.md`.

[2018-05-19 08:21] valendesigns opened #72 "The phpcs_phpcompatibility results are missing fields"
There should be an `errors_count` and `warnings_count` even if they are `0`.

[2018-05-21 18:54] jeffpaul opened #73 "DevOps in GCP"

[2018-05-21 18:54] jeffpaul opened #74 "All 3 Servers functionally complete"

[2018-05-21 18:58] jeffpaul opened #75 "API"
Epic to track all work related to `API`

[2018-05-21 18:59] jeffpaul opened #76 "API cleanup and finalize schema"

[2018-05-21 19:00] jeffpaul opened #77 "API schema to match PHP Compat UX needs for .ORG"

[2018-05-21 19:03] jeffpaul opened #78 "Ensure all standards are supported"

[2018-05-21 19:06] jeffpaul opened #79 "Publish public roadmap"
- [x] setup ZenHub structure in `go-tide` repo
- [x] setup wiki details in `go-tide` repo
- [x] setup ZenHub structure in `wptide` org
- [ ] ~setup wiki details in `wptide` org~
- [ ] publish make/xwp and/or make/tide post announcing roadmap

[2018-05-21 19:06] jeffpaul opened #80 "Marketing"
Epic to track all work related to `Marketing`

[2018-05-21 19:13] jeffpaul opened #81 "Setup XWP Billing Account on GCP"

[2018-05-21 19:25] jeffpaul opened #82 "Allow WordPress.org to push SVN theme/plugin changes to Tide services"

[2018-05-21 19:31] jeffpaul opened #83 "Decouple audit processes from an API"
Essentially removing the need for an API

[2018-05-21 19:31] jeffpaul opened #84 "HTTP Listener/Webhook on audit server(s)"
- [ ] An HTTP listener on each audit server, decoupling from a message queue.

[2018-05-21 19:32] jeffpaul opened #85 ".ORG API Payload"
- [ ] review needs from .ORG for Tide webhook payload response
- [ ] update Tide to account for .ORG API payload needs

[2018-05-21 19:37] jeffpaul opened #86 "API Documentation"
- [ ] Swagger or API blueprint (https://apiblueprint.org/, https://github.com/danielgtaylor/aglio, https://github.com/bukalapak/snowboard)
- [ ] convert to docs
- [ ] check that following the docs "works"
- [ ] Add link on demo website to GH readme for setup details
- [ ] Add link to GH readme to demo website for usage details

[2018-05-21 19:39] jeffpaul opened #87 "How service works"

[2018-05-21 19:40] jeffpaul opened #88 "Demo GET requests"

[2018-05-21 19:41] jeffpaul opened #89 "Account Sign Up with a way to get your API key/secret (no WP backend access)"

[2018-05-21 19:49] jeffpaul opened #90 "Finalize UX for .ORG integration"

[2018-05-21 19:51] jeffpaul opened #91 ".ORG integration with Webhook"
Handled via Meta team?

[2018-05-21 21:02] valendesigns commented on #77
We need to add warnings to the Parsed report in the PHPCS Server.

[2018-05-21 21:04] valendesigns commented on #78
Close in favor of #63

[2018-05-21 21:04] #78 closed, assigned to nobody

[2018-05-21 21:29] jeffpaul commented on #69
Closing in favor of #31

[2018-05-21 21:29] #69 closed, assigned to rheinardkorf

[2018-05-21 21:31] jeffpaul commented on #70
Closing in favor of #31

[2018-05-21 21:31] #70 closed, assigned to rheinardkorf

[2018-05-21 22:55] valendesigns commented on #72
Fixed by https://github.com/wptide/pkg/pull/7/commits/19ee8d2783bc6fa10a57007f64cdae0275af16df

[2018-05-22 03:09] valendesigns opened #92 "Upgrade to Lighthouse v3.0.0"
Lighthouse v3.0.0 has recently been released, we should upgrade Lighthouse and potentially Chromium. The Lighthouse Server image is built using stable Alpine 3.7 so the community repo is going to install [Chromium 61.0.3163.100-r0](https://pkgs.alpinelinux.org/package/v3.7/community/x86_64/chromium). However, if we want to upgrade to [Chromium 64.0.3282.168-r0](https://pkgs.alpinelinux.org/package

[2018-05-22 03:34] valendesigns commented on #63
There was an issue in the `wp-tide-api` that would override the previous standards array. That's been patched [here](https://github.com/wptide/wp-tide-api/pull/17/commits/df8aca1427f2e2942943ad287932e015a5b30dde) and I can confirm we are supporting all the standards in [Audit::allowed_standards()](https://github.com/wptide/wp-tide-api/blob/develop/php/api/endpoint/class-audit.php#L110-L124).

[2018-05-22 03:34] #63 closed, assigned to valendesigns

[2018-05-22 16:33] jeffpaul commented on #92
@valendesigns does this really need to be in Tide v1.0? Couldn't we just wait on this since LHv3 is still in alpha and ship a Tide v1.x to include this? Trying to keep our scope for v1.0 as small as possible given our resources and time available.

[2018-05-22 17:15] jeffpaul commented on #92
Note that we'll also need to update the `Running Lighthouse audits` docs given things change a bit with LHv3: https://github.com/xwp/go-tide/wiki/Running-Lighthouse-audits

[2018-05-22 22:15] valendesigns commented on #92
@jeffpaul those docs need to be updated anyhow, they are out of date in not accurate anymore. I've actually completed the work required to upgrade to v3 in these two PRs https://github.com/xwp/go-tide/pull/93 and https://github.com/wptide/pkg/pull/10 so we don't need to wait until Lighthouse v3 stable to integrate into Tide now.

[2018-05-24 07:55] #92 closed, assigned to nobody

[2018-05-24 07:56] #72 closed, assigned to valendesigns

[2018-05-30 01:24] jeffpaul opened #96 "UX for Demonstration website"
UX/designs to cover work in #86, #87, and #88. Output from this will go to @makibm as his input to build the front-end.

Base goal is something like: https://node-postgres.com/
Slightly more detailed design is optional, but not necessary, like: https://www.getchisel.co/

Tide color palette, icons, and images are here: https://drive.google.com/drive/u/0/folders/0B_l02ls-dbyucVNKZC1UcVIwUFk

[2018-05-30 01:28] jeffpaul opened #97 "FE development for Demonstration website"
FE development to cover work in #96 and supporting #86, #87, and #88. Output from this will go to @luboskmetko as his input to add the docs to the front-end site.

[2018-05-30 08:58] luboskmetko opened #99 "Database errors when running make api.setup on Windows"
### Description

When trying to run `make api.setup` on Windows 10 Home, I've got a bunch of database errors. Looking at container log it seems like some issue with proper mariadb volume mounting. Found a solution here https://github.com/docker-library/percona/issues/42#issuecomment-364414206, updating `docker-compose.yml` accordingly makes it work and eventually was able to run `tide.local` API o

[2018-05-30 09:22] luboskmetko opened #100 "Windows specific installation instruction"
Eventually, I've made tide.local API work on Windows 10 Home Edition (thanks @valendesigns for help and ideas)

The following is a list of Windows specific issues we should address in documentation.

First of all, Windows Home doesn't support Hyper-V so you have to use legacy [Docker Toolbox](https://docs.docker.com/toolbox/toolbox_install_windows/). On Windows 10 Pro some of these might not be an

[2018-05-30 18:49] jeffpaul commented on #91
Note that we're meeting with Otto this Friday afternoon CDT to discuss specifics of the .ORG integration and any changes needed on the Tide end to provide input to .ORG for a graceful integration. Updates to follow on details for the description of this issue.

[2018-05-31 00:41] jeffpaul opened #102 "add glide dependency to README"
From @luboskmetko:
The documentation is missing information that you need to have Glide installed and run `glide install` before building servers. I was getting the following error before:
[code]

after getting Glide and installing packages, it starts to work better, although still ends with an error:
[code]

package like `github.com/blang/semver` indeed isn't in any of those folders, although whe

[2018-05-31 01:36] jeffpaul opened #103 "update architecture diagram to Tide v1.0"
We'll need to update the [Architecture Diagram](https://github.com/xwp/go-tide/wiki/Architecture-diagram) so that it can be (1) used in the WCEU slides for the Google booth and (2) included in the Demonstration website as part of #87. The timeline for 1 above is this week, so we'll need a quick turnaround on updating this diagram.

We'll likely need @valendesigns to quickly write down the differen

[2018-05-31 02:18] jeffpaul opened #104 "WCEU marketing slides"
We'll need 2-3 slides to help market Tide and v1.0 on GCP to be utilized at WCEU. We'll likely want to cover what Tide is, an architecture diagram (see #103) and info on which GCP components are used. Given schedules and timelines for WCEU, we'll want to wrap this work by Friday, June 1st.

[2018-06-01 01:44] valendesigns commented on #99
@luboskmetko Adding a volume this way would break the local integration of the services and the API. We couldn't get the reports mounted into the data directory and then into the API. We will need to find a different solution or refactor the local storage option.

[2018-06-01 09:06] luboskmetko commented on #99
@valendesigns I've just tried to run `make api.setup` with original `docker-compose.yml` and it worked this time. Not sure what was wrong previously or if I did something wrongly. Anyway, closing this one.

[2018-06-01 09:06] #99 closed, assigned to nobody

[2018-06-01 16:00] jeffpaul commented on #86
Proposed docs site structure from @luboskmetko : https://docs.google.com/document/d/1gxLqj3yGoxcZBm_QeZHwcYnjtFflMcIZNBUO4gOLYME/edit?ts=5b114f0f

[2018-06-05 01:21] #31 closed, assigned to rheinardkorf

[2018-06-05 01:21] #26 closed, assigned to rheinardkorf

[2018-06-05 01:22] #65 closed, assigned to valendesigns

[2018-06-05 01:22] #66 closed, assigned to rheinardkorf

[2018-06-05 01:22] #67 closed, assigned to valendesigns

[2018-06-05 01:22] #68 closed, assigned to rheinardkorf

[2018-06-05 01:23] #73 closed, assigned to valendesigns

[2018-06-05 01:23] #74 closed, assigned to valendesigns

[2018-06-05 02:08] #104 closed, assigned to valendesigns, RobStino

[2018-06-05 02:12] jeffpaul opened #106 "WCEU slides for Tide within XWP section of booth"
Related to #104, we'll want to update our WCEU slides to tell the story about Tide.

[2018-06-05 02:15] jeffpaul commented on #96
Remaining tasks that I can think of:
- [ ] review demo/docs site, provide UX feedback

[2018-06-05 02:16] jeffpaul commented on #79
Will begin migrating to `wptide` org when we've pushed this repo to that org.

[2018-06-05 02:17] jeffpaul commented on #79
@RobStino I believe you had noted something about a blog post announcing the Tide update to v1.0 and the demo/docs site. Is that something you can help craft to publish before/during/after WCEU (timing as you see most reasonable).

[2018-06-05 02:48] jeffpaul commented on #103
Updated diagram on wiki: https://github.com/xwp/go-tide/wiki/Architecture-diagram

[2018-06-05 02:48] #103 closed, assigned to valendesigns, postphotos, RobStino, jwold

[2018-06-05 03:00] jeffpaul commented on #85
Meeting with .ORG postponed from Friday, June 1st to Tuesday, June 5th.

[2018-06-05 04:38] RobStino commented on #106
Joshua and I have talked about this and are setting a 24-hour deadline for coming up with a solution. With the deadline for implementation being 5 min before the event starts. :)

[2018-06-07 19:17] jeffpaul opened #111 "deployment automation + documentation"
So that we can support others at XWP contributing to DevOps on Tide, we should look into ways to further automate the deployment process as well as capturing documentation.

[2018-06-07 19:33] jeffpaul opened #112 "page cache on update/delete a post"
### Description

From Derek in Slack:
Playing around and only found one issue with the page cache so far... It doesn't clear the archives when you update/delete a post. We don't have a typical install so it's not really an issue for us but we should probably fork the redis page cache plugin anyhow and clean/fix it up. Something for later.

[2018-06-07 19:35] jeffpaul opened #113 "update email used in production"
### Description

From Derek in Slack:
We'll need to setup a real email account to use later, I'm not a fan of my email being used for production

### Additional Information

We'll need to determine the best email to utilize and who should have access to that account.

[2018-06-07 19:37] jeffpaul opened #114 "add a flush rewrite rule to setup script"
### Description

From Rheinard & Derek in Slack:
We might have to add a flush rewrite rules to the setup script. We should add that to the activation hook in the plugin.

[2018-06-07 19:40] jeffpaul opened #115 "email script to ensure nobody locks themselves out of their account"
### Description

From Derek in Slack:
I just thought of a simple feature. Maybe a plugin already exists. When you save changes to your email the script blocks the change until you click a link sent to the original email. The script would poll the DB and the link sent through email would set the value it's looking for, which would unblock and allow the script to save the changes. Just something to

[2018-06-07 23:01] valendesigns opened #116 "Update PHPCompatibility to 8.1.0 and PHP_CodeSniffer to 3.3.0"
New versions of both `PHPCompatibility` and `PHP_CodeSniffer` have been released and we need to test and update to the latest stable versions inside the PHPCS Server `Dockerfile`.

[2018-06-07 23:10] valendesigns commented on #116
Actually, we can only update `PHP_CodeSniffer` at this time. The `framework-rulesets` have not landed in a tag yet for `PHPCompatibility`.

[2018-06-08 19:32] jeffpaul commented on #106
Noting that @RobStino plans to work on this Sunday/Monday AUS-time.

[2018-06-08 19:44] jeffpaul opened #118 "Further document maintainers, contributors, and guidelines for each"
### Description

All contributions are awesome, but not all are equal. I'd like to look at further defining maintainers (those active and with commit access) and contributors (so many ways to help, won't bother listing here), noting the responsibilities and differences between the two, and then having an updated Credits section (or renamed/reordered as makes sense) that highlights the maintainers

[2018-06-08 20:07] jeffpaul opened #119 "document product vision and goals"
### Description

Alongside documenting the roadmap (and further, the backlog) in #79, we should also work to confirm and document Tide's vision and goals (ideally measurable). Having a clear, documented vision and measurable goals will keep us focused, avoid “scope creep” that leads us away from our vision, and give us ways to measure our achievements will help us achieve what we want with Tide.

[2018-06-09 02:45] jeffpaul commented on #91
Once we have examples of hitting the API and some demo code, we'll want to email that to Otto and he'll start working on integration, test hits, and exposing the data to the plugin API.

[2018-06-09 14:29] valendesigns opened #121 "Create private Kubernetes Clusters"
In order to secure the services and also not use the limited IP addresses we need to create private Kubernetes clusters as they have no need to be exposed to the open internet.

https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters

[2018-06-12 20:57] jeffpaul opened #124 "blog post on lessons learned migrating to GCP"
### Description

Similar to https://www.wpzoom.com/news/migrating-to-easy-digital-downloads/, we should look to summarize and share our learnings on migrating to GCP for others to benefit from.

### Additional Information

- [ ] draft outline of post
- [ ] add technical details to outline
- [ ] add imagery/gifs to support post

[2018-06-13 01:23] hellofromtonya commented on #124
Another idea is to develop different types of content, each capturing and sharing your perspectives.

Why?

1.  People relate and connect to various mediums differently.  Some like blog posts.  Others interviews.  Other webinars. You get the point.
2.  Different stories and experiences will resonant with a more diverse demographic.

Lessons learned and the stories behind each are powerful and valu

[2018-06-13 15:52] hellofromtonya commented on #118
The purpose of these sections and documents is to empower contribution while spreading the vision of the initiative.  Designing these sections can do a lot for Tide to attract, share, empower, and promote.

Part of this discussion is:

1. Sharing the vision and philosophy is critical to empower the community and align them to the initiative.
2. Sharing the process to help contributors know what to

[2018-06-14 12:54] rheinardkorf commented on #124
Thanks @hellofromtonya

I wouldn't mind at some stage sharing the reasoning from moving from PHP to Go for the services and how the WP REST API has been a nice way for us to still use WordPress despite building services in another language.

[2018-06-14 17:57] hellofromtonya commented on #124
@rheinardkorf Bingo, that’s a value share for the community. Sharing _the why_ of the reasoning(s) provides the opportunity to open someone else’s mind, giving them insights into how this team thinks.

Tip:  Start with the technical challenge to be solved.  Then walk into the reasoning behind the decisions and solution.  Share the why.  Share the why not for alternatives. Then give the actualized

[2018-06-15 20:33] jeffpaul opened #131 "add Changelog info for v1.0.0"
### Description

With the release of Tide v1.0.0, we'll want to fill in the [changelog](https://github.com/wptide/wptide/wiki/Changelog) info to further document the release.

[2018-06-15 20:48] jeffpaul opened #132 "migrate GitHub wiki content to docs site"
### Description

Now that the documentation site is active at wptide.org, we should work to migrate most (all?) of the content from the [GitHub wiki](https://github.com/wptide/wptide/wiki) to the docs site. That way we can point to the docs site for any information related to Tide that is not source code or Tidechats.

### Additional Information

- [x] move (and update?) [Running Lighthouse audits

[2018-06-15 20:51] jeffpaul opened #133 "minimize README now that content is on docs site"
### Description

Now that the documentation website is active at www.wptide.org and it contains most of the content in the [README](https://github.com/wptide/wptide/blob/develop/README.md) we should look to remove the duplicative content from the README and include an appropriately worded link to the docs site.

[2018-06-18 06:04] rheinardkorf commented on #91
@jeffpaul development is in progress.

[2018-06-18 19:55] jeffpaul opened #136 "investigate dropping `glide` for `dep`"
### Description

From @rheinardkorf: If we do this we can make it even more user friendly by removing the Go requirement and building in the official `_/go` container.

[2018-06-24 18:40] hellofromtonya commented on #89
I would add that the way to get your API key/secret is _automatically_ generated to reduce latency and increase engagements and adoption.

As for managing API keys, I would suggest tying everything together into a Developer Portal.  That means empowering developers with all that each needs to utilize, contribute to, and build on top of Tide.

One place (portal) increases the developer experience (

[2018-06-24 19:35] hellofromtonya opened #137 "Add runtime metrics into Tide service"
## Description

Error-free runtime is another tenant of code quality.  I propose that we include it into our metrics to make Tide more robust and useful.

## The Problem

The problem is:

Imagine that a user picks a plugin or theme based upon its Tide report.  Then s/he installs it only to discover that the plugin/theme throws errors or the logs have notices or warnings.  Whoopsie, the perception

[2018-06-24 19:50] jrfnl commented on #137
As a sister-issue, I believe it would be good to scan for parse errors too in all PHP versions supported by the plugin/theme.
Just running `php -l` over all files in the plugin/theme (possibly excluding a `vendor` directory) on all supported PHP versions should be able to take care of that.

[2018-06-24 22:27] rheinardkorf commented on #137
@jrfnl That would be great as a seperate issue so that it does not get lost. I think that is a neat idea. (cc @jeffpaul )

@hellofromtonya I agree this would make Tide better if we could get actual runtime audits, but lets not focus on the score. There is no score (since WCUS).

[2018-06-24 22:54] hellofromtonya commented on #137
Thank you, @rheinardkorf. "score" terminology has been removed.

[2018-06-25 00:46] mikeschinkel commented on #137
+1 for scanning for catching plugins that generate errors when `WP_DEBUG` is `true`.

[2018-06-25 05:11] jrfnl opened #138 "Scan for PHP parse errors in all supported PHP versions"
Extracted from https://github.com/wptide/wptide/issues/137#issuecomment-399782731

Ref: http://php.net/manual/en/features.commandline.options.php

Potentially running `php -f` (parse and execute) could also yield interesting results, though may throw too many false positives.

[2018-06-25 14:00] hellofromtonya commented on #138
Note: `php -l` is included PHPCS' [`Generic.PHP.Syntax` ruleset](https://github.com/squizlabs/PHP_CodeSniffer/blob/87ba8779e7335a491f14917d1604e81dfe3a2890/src/Standards/Generic/Sniffs/PHP/SyntaxSniff.php#L64):

[code]

which is included in [WPCS WordPress Extra ruleset](https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/blob/develop/WordPress-Extra/ruleset.xml#L149):

[code]

[2018-06-25 16:12] jrfnl commented on #138
@hellofromtonya Correct, but it was only included as too many people don't know how to run `php -l` :cry:

Also: "all" PHPCS/WPCS/PHPCompatibility sniffs should give the same results independently of the PHP version they are run on (though higher is better), so only one run of PHPCS on a high PHP version is warranted to get the sniff results.

The results from the `Generic.PHP.Syntax` sniff, howev

[2018-06-25 16:17] hellofromtonya commented on #138
True. I know a lot of devs don't know it exists.

100% agree.

Agreed.

[2018-06-26 02:45] jeffpaul commented on #106
Closing this as it was completed and part of the XWP section of the Google booth.

[2018-06-26 02:45] #106 closed, assigned to valendesigns, RobStino, jwold

[2018-06-26 02:55] jeffpaul opened #139 "Prevent duplicate audits"
### Description

There appears to be an issue with the Firestore integration locks as we're seeing instances of duplicate audits of the same plugin checksum (in some cases more than two audits are run), so we'll want to review the locking to ensure its catching all edge cases to eliminate this waste of resources. Some examples...
Reply Comment to Email:
https://wptide.org/api/tide/v1/audit/51026
h

[2018-06-26 03:24] jeffpaul commented on #124
Another related item that this Issue could evolve into (or become a parallel Issue) is creating a GCP whitepaper focused on the AppEngine architecture for setting up WordPress.

[2018-06-26 03:30] jeffpaul opened #140 "Investigate automated dependency management"
### Description

Insofar as Tide has external dependencies, we should investigate automated dependency management to help reduce the burden of tracking those manually/ourselves.

### Additional Information

Examples:
- [Renovate](https://github.com/marketplace/renovate/plan/MDIyOk1hcmtldHBsYWNlTGlzdGluZ1BsYW45NTk=#pricing-and-setup)
- [Greenkeeper](https://github.com/marketplace/greenkeeper/plan/M

[2018-06-27 19:41] jeffpaul opened #141 "404 on plugin audit endpoint"
### Description

From @grappler on [Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1530043649000466):
I seem to have found one that is not working https://wptide.org/api/tide/v1/audit/wporg/plugin/hide-jetpack-promotions/

Getting:
code | "rest_post_invalid_altid_lookup"
message | "Invalid post lookup."
data |  
status | 404

[2018-06-27 20:01] valendesigns commented on #141
This means the plugin hasn’t been audited. Some plugins and themes either failed the phpcs audit or were missed due to me taking the services down due to issues the day before WCEU. Until the new endpoint that initiates audits is implemented or the item is updated and picked up by the sync server there will be missing items in the Tide API.

[2018-07-12 19:46] zachskaggs opened #142 "make build.images fails from malformed child dependency 'chromium@community'"
### Description
make build.images fails from malformed child dependency

### Steps to Reproduce

When running make build.images I get this error before the script stops:

ERROR: 'chromium@community' is not a valid child dependency, format is name([<>~=]version)
The command '/bin/sh -c echo "@community http://dl-cdn.alpinelinux.org/alpine/edge/community" >> /etc/apk/repositories     && apk add --no

[2018-07-12 19:59] grappler commented on #142
I can confirm I got this error too.

[2018-08-10 21:26] jeffpaul opened #144 "add WPCS version number to schema and API"
### Description

We don't currently keep track of the WPCS version of each audit, which will become a problem when we bump to WPCS 1.0 and can no longer discern which version of WPCS was used when getting results from the API.

[2018-08-21 18:02] jeffpaul opened #145 "Update WPCS to v1.0+"
### Description

As WPCS has recently bumped to 1.0, we'll want to bump accordingly, but this work will have #144 as a dependency so that we can support details on which version of the standard is used on a specific audit.

### Additional Information

Relates to #116.

Also, per @jrfnl... re: upgrading to WPCS 1.0.0 - also don't forget to change from using `PHPCompatibility` to `PHPCompatibilityWP

[2018-08-21 18:07] jeffpaul commented on #116
Note that per @jrfnl... re: upgrading to WPCS 1.0.0 - also don't forget to change from using `PHPCompatibility` to `PHPCompatibilityWP` (if that hasn't been done already)

[2018-08-21 20:08] jeffpaul commented on #19
Closing per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534882016000100) as work was done and validated elsewhere.

[2018-08-21 20:09] #19 closed, assigned to danlouw

[2018-08-22 02:26] jeffpaul commented on #16
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534881763000100) today, we're tagging this to `Future Release`

[2018-08-22 02:28] jeffpaul commented on #29
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534882084000200) today, we're moving this to `Future Release`

[2018-08-22 02:29] jeffpaul commented on #44
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534882210000100) today, we're tagging this to `Future Release`

[2018-08-22 02:30] jeffpaul commented on #45
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534882227000100) today, we're tagging this to `Future Release`

[2018-08-22 02:32] jeffpaul commented on #58
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534882238000100) today, we're closing in favor of #145

[2018-08-22 02:32] #58 closed, assigned to DavidCramer

[2018-08-22 02:34] jeffpaul commented on #71
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534882305000100) today, we're tagging this to `Future Release`

[2018-08-22 02:38] jeffpaul commented on #76
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534882500000200) today, we're closing this issue in favor of #77 and #144

[2018-08-22 02:38] #76 closed, assigned to valendesigns

[2018-08-22 02:39] jeffpaul commented on #144
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534882520000100) today, we're tagging this to the `1.0.0` release

[2018-08-22 02:39] jeffpaul commented on #77
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534882540000100) today, we're tagging this to the `1.0.0` release

[2018-08-22 02:41] jeffpaul commented on #79
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534882684000100) today, we're tagging this to be completed during the `1.0.0` release timeline

[2018-08-22 02:42] jeffpaul commented on #82
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534882735000100) today, we're tagging this to the `1.0.0` release

[2018-08-22 02:43] jeffpaul commented on #83
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534882812000100) today, we're closing this as part of an old, outdated conversation

[2018-08-22 02:43] #83 closed, assigned to nobody

[2018-08-22 02:44] jeffpaul commented on #84
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534882868000100) today, we're tagging this to `Future Release`

[2018-08-22 02:48] jeffpaul commented on #85
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534882923000100) today, I'm pinging @Otto42 to confirm the following from @valendesigns:

Something that will be needed in this workflow is to ensure the refresh token works correctly so .org doesn't have to keep authenticating
And that it's well documented on how to use it

If @Otto42 agrees, then we'll close this issue.

[2018-08-22 02:49] jeffpaul commented on #86
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534883155000100) today, we're tagging this to the `1.0.0` release

[2018-08-22 02:52] jeffpaul commented on #87
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534883224000100) today, we're tagging this to the `1.0.0` but not as a critical item

[2018-08-22 02:53] jeffpaul commented on #88
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1534883316000100) today, we're closing this as [documentation exists](http://wptide.org/services/api#endpoints).

[2018-08-22 02:53] #88 closed, assigned to luboskmetko

[2018-08-22 02:55] jeffpaul commented on #81
Closing this as update has been compelted

[2018-08-22 02:55] #81 closed, assigned to valendesigns

[2018-08-28 20:55] jeffpaul opened #146 "Prevent API from creating API keys/secrets with the # sign"
@rheinardkorf commented on [Fri Jul 20 2018](https://github.com/wptide/wporg-tide-api/issues/3)

When using the # symbol in .env files it gets treated as a comment marker. Thus authentication with the API fails.

It is not possible to escape the # in .env files so the best remedy would be to prevent them appearing in KV pairs at all.

[2018-08-29 01:34] jeffpaul commented on #89
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535486471000100) today, we're moving this to `Future Release`.

[2018-08-29 01:36] jeffpaul commented on #90
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535486503000100) today, we're keeping this in the `1.0.0` release.

[2018-08-29 01:43] jeffpaul commented on #91
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535486550000100) today, we're keeping this in the `1.0.0` release but that we'll need to update the integration plans as Tide's endpoints evolve.

[2018-08-29 01:45] jwold commented on #90
Is this related to the work with PHP compatibility, or is it a more broad issue?

[2018-08-29 01:52] jeffpaul commented on #97
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535486795000100) today, we're keeping this in the `1.0.0` release as there's still some work remaining. The plugin https://github.com/wptide/wporg-tide-api is the final solution, it's just not complete yet. @valendesigns will update this issue to describe the work that remains.

[2018-08-29 01:53] jeffpaul commented on #96
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535486626000200) today, we're marking this as complete/closed.

[2018-08-29 01:53] #96 closed, assigned to postphotos

[2018-08-29 01:57] jeffpaul commented on #100
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535486905000100) today, we're keeping this in the `1.0.0` release.  This will need some testing, but will aim for some basic docs as noted in the issue description from @luboskmetko.

[2018-08-29 01:58] jeffpaul commented on #102
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487014000100) today, we're keeping this in the `1.0.0` release.

[2018-08-29 01:59] jeffpaul commented on #111
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487047000200) today, we're moving this to `Future Release`.

[2018-08-29 02:02] jeffpaul commented on #112
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487090000100) today, we're keeping this in the `1.0.0` release as a `Nice to have`.

[2018-08-29 02:05] jeffpaul commented on #113
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487185000100) today, we're keeping this in the `1.0.0` release as we still need to setup SMTP to complete this issue.

[2018-08-29 02:08] jeffpaul commented on #114
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487291000100) today, we're keeping this in the `1.0.0` release.

[2018-08-29 02:10] jeffpaul commented on #115
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487381000100) today, we're moving this to `Future Release` though it would be a nice feature plugin.

[2018-08-29 02:13] jeffpaul commented on #116
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487429000100) today, we're keeping this in the `1.0.0` release, work has started in https://github.com/wptide/wptide/tree/bugfix/docker-setup, and we cannot update to PHP_CodeSniffer 3.3+ due to failed audits so this needs some research.

[2018-08-29 02:15] jeffpaul commented on #118
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487529000100) today, we're keeping this in the `1.0.0` release as this work will ideally complete during this cycle.

[2018-08-29 02:17] jeffpaul commented on #119
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487576000100) today, we're keeping this in the `1.0.0` release as this work will ideally complete during this cycle.

[2018-08-29 02:18] jeffpaul commented on #121
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487644000200) today, we're moving this to `Future Release`.

[2018-08-29 02:20] jeffpaul commented on #124
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487725000200) today, we're moving this to `Future Release`.

[2018-08-29 02:21] jeffpaul commented on #131
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487791000100) today, we're keeping this in the `1.0.0` release.

[2018-08-29 02:22] jeffpaul commented on #132
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487812000100) today, we're keeping this in the `1.0.0` release.

[2018-08-29 02:26] jeffpaul commented on #133
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487895000100) today, we're keeping this in the `1.0.0` release.

[2018-08-29 02:27] jeffpaul commented on #136
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535487974000100) today, we're keeping this in the `1.0.0` release as a `nice to have`.

[2018-08-29 02:30] jeffpaul commented on #137
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535488018000100) today, we're moving this to `Future Release`.

[2018-08-29 02:32] jeffpaul commented on #138
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535488079000100) today, we're moving this to `Future Release`.

[2018-08-29 02:33] jeffpaul commented on #139
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535488127000200) today, we're keeping this in the `1.0.0` release.

[2018-08-29 02:34] jeffpaul commented on #140
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535488165000100) today, we're moving this to `Future Release`.

[2018-08-29 02:36] jeffpaul commented on #141
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535488207000100) today, @valendesigns to run this audit locally to see if it fails.  If this is a real issue, we'll add to the `1.0.0` release.

[2018-08-29 02:37] jeffpaul commented on #142
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535488397000100) today, we're keeping this in the `1.0.0` release as it's in progress and fixed in the branch @valendesigns is working on.

[2018-08-29 02:38] jeffpaul commented on #144
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535488447000100) today, we're keeping this in the `1.0.0` release.

[2018-08-29 02:41] jeffpaul commented on #145
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535488471000100) today, we're keeping this in the `1.0.0` release as it's in progress but not sure if there are any issues.  We'll need to get the updated PHP_CodeSniffer working first.

[2018-08-29 02:45] jeffpaul commented on #90
@jwold they're essentially the same issue, in different repos.  We can view https://github.com/wptide/tide-issues/issues/1 as the primary issue to track the work.

[2018-08-29 03:37] jeffpaul commented on #146
Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535489668000300) today, we're keeping this in the `1.0.0` release as `nice to have` and at the very least we add some docs.

[2018-08-29 03:42] jeffpaul opened #147 "PHP Compat on .ORG"
Begins integration on .ORG and first step in actually improving the quality of code on 30% of the web

[2018-08-29 03:47] jeffpaul opened #148 "Demonstration website"
Provides documentation and working examples of Tide to help developers and contributors better utilize and improve Tide. Summary: Similar to the functionality of the former wptide.org site from WCUS 2017, we’d look to stand up a site focused on developers, how they can setup and use Tide (either locally or via Webhook), details on the APIs and related parameters to see results of existing audits,

[2018-08-29 03:51] jeffpaul opened #149 "Webhook/HTTP Listener for .ORG"
Provides easier integration point with .ORG.

[2018-08-29 09:20] jrfnl commented on #116
FYI: both PHPCompatibility as well as WPCS are compliant with PHPCS 2.x as well as 3.x, so not being able to update PHP_CodeSniffer yet( for whatever reason), is not a blocker to update the other dependencies.

[2018-08-29 09:22] jrfnl commented on #145
See my comment in https://github.com/wptide/wptide/issues/116#issuecomment-416885336 - PHPCS upgrade is not a blocker for upgrading WPCS.

[2018-08-31 13:59] matt-ward commented on #142
I got this too. I fixed it by editing the Docker file in /service/lighthouse-server/docker. I changed `chromium@community` to just `chromium` This resolved the issue for me.

[2018-09-18 20:57] jeffpaul commented on #132
Since `wptide pkg` was a blank page, I deleted it instead of migrating null content to the doc site.

[2018-09-19 19:39] jeffpaul commented on #79
Note that we're not going to utilize GitHub's wiki and instead are hosting related content on wptide.org

[2018-09-19 19:40] jeffpaul commented on #79
This issue will be fully resolved once https://github.com/wptide/docs/pull/16 gets merged.

[2018-09-19 23:01] jeffpaul opened #151 "Error when using authenticated request to get detailed report"
@rheinardkorf commented on [Mon Jul 23 2018](https://github.com/wptide/tide-issues/issues/10)

Fetching a detailed report such as https://wptide.local/api/tide/v1/report/1234/raw/phpcs_phpcompatibility produces an error despite being an authenticated request and resource being available in bucket.

[code]

---

@valendesigns commented on [Thu Aug 09 2018](https://github.com/wptide/tide-issues/issu

[2018-09-19 23:03] jeffpaul opened #152 "Interface for displaying PHP Compatibility results"
@jwold commented on [Tue Dec 19 2017](https://github.com/wptide/tide-issues/issues/1)

The following sketches represent options for displaying the PHP Compatibility results within the plugin interface on WordPress.org.

Would love feedback from others on which of these options makes the most sense, and whether there are other options we should be considering for displaying the information.

<img w

[2018-09-19 23:05] jeffpaul opened #153 "Integrate with `wp-deprecated-code-scanner`"
@rheinardkorf commented on [Thu Dec 21 2017](https://github.com/wptide/tide-issues/issues/2)

The project at https://github.com/JDGrimes/wp-deprecated-code-scanner "scans for all deprecated functions in a codebase".

This will be handy as an audit to determine the usage of deprecated functions.

Thanks @jdrimes for pointing it out.

---

@JDGrimes commented on [Thu Dec 21 2017](https://github.com/

[2018-09-19 23:06] jeffpaul opened #154 "JSON error when viewing full details of Tide API"
@jeffpaul commented on [Sat Dec 23 2017](https://github.com/wptide/tide-issues/issues/3)

Reported via [Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1513834290000126) by [Varun Sharma](https://profiles.wordpress.org/contact-banker/):

"When I run the tide api against one of my plugins, I see the json error when viewing full details
https://wptide.org/api/tide/v1/audit/wporg/gallery-bank

[2018-09-19 23:07] jeffpaul opened #155 "Display errors/warnings after plugin/theme upload to WordPress.org"
@jeffpaul commented on [Sat Dec 23 2017](https://github.com/wptide/tide-issues/issues/4)

Reported via conversation at the Tide booth at WCUS 2017, original requester unknown:

"It would be nice to provide the full listing of errors/warnings to developers who submit plugins/themes to the WordPress.org repo. Show them those in a private view within wp.org. Potentially separate plugin/theme review q

[2018-09-19 23:09] jeffpaul opened #156 "Update code logic to support varying php version support possibilities"
@jeffpaul commented on [Wed Jan 17 2018](https://github.com/wptide/tide-issues/issues/6)

From the [Slack discussion](https://wordpress.slack.com/archives/C7TK8FBUJ/p1516141408000290), a plugin/theme could be compatible with 5.5 and 7.0 but not 5.6. We will want to review the logic in the code to supports this as it's definitely a possibility.

---

@jeffpaul commented on [Tue Aug 28 2018](https:/

[2018-09-19 23:10] jeffpaul opened #157 "Add Code of Conduct files to each repo"
@jeffpaul commented on [Wed Jan 17 2018](https://github.com/wptide/tide-issues/issues/7)

See [Contributor Covenant](https://www.contributor-covenant.org/) for sample markdown text that can be used.

---

@jeffpaul commented on [Tue Aug 28 2018](https://github.com/wptide/tide-issues/issues/7#issuecomment-416807951)

Per [bugscrub](https://wordpress.slack.com/archives/C7TK8FBUJ/p1535489093000100) t

[2018-09-19 23:11] jeffpaul opened #158 "Detecting when plugins throw errors with WP_DEBUG===true"
@mikeschinkel commented on [Wed Jun 13 2018](https://github.com/wptide/tide-issues/issues/8)

For reference see the [mention in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1528410056000184).

---

@jeffpaul commented on [Wed Jun 13 2018](https://github.com/wptide/tide-issues/issues/8#issuecomment-396973729)

Copying in the details from Slack for those who don't (or choose not to) have a

[2018-09-19 23:12] jeffpaul opened #159 "apply Tide against custom plugins and themes"
@jeffpaul commented on [Wed Jun 13 2018](https://github.com/wptide/tide-issues/issues/9)

From @gravnetic via [comment on the Tide > WordPress post](https://xwp.co/tide-joins-wordpress/#comment-1211), I'm adding a placeholder issue to track discussion around enhancing Tide to support the auditing of custom plugins and themes (i.e., ones not available on WordPress.org).

---

@jeffpaul commented on

[2018-09-20 01:04] jeffpaul opened #161 "After migrating repos there is an issue with the refresh tokens in the API plugin"
Originally reported by @rheinardkorf on 06/Apr/17 7:26 PM:

Temporarily commenting out the following in class-plugin.php:

{code:php}
// $this->components['user_refreshtoken'] = new User_RefreshToken( $this ); // Enabled user-based refresh tokens.
{code}

This needs proper debugging and fixing, but is not essential to the immediate work. From what I remember that was commented out because tokens w

[2018-09-20 01:06] jeffpaul opened #162 "Audit Server is not trapping errors gracefully"
Originally created by @rheinardkorf on 28/Nov/17 8:46 PM:

Not all errors are trapped and causing processes to fail.

[2018-09-20 01:09] jeffpaul opened #163 "As an API user I'm able to upload multiple plugins in one zip"
Originally reported on 07/Jul/17 5:46 AM:

It would be nice to have the ability to send a zip of the whole Plugins folder, instead of the individual plugins within it. Perhaps in case of bulk upload the response could include API links to each plugin's audit separately instead of a single detailed response.

The ZIP file will contain no other ZIPs within it. The folder structure within the ZIP fil

[2018-09-20 01:11] jeffpaul opened #164 "Add git & svn support to the audit server"
Originally reported by @jeffpaul on 30/Oct/17 4:16 PM:

Audit server currently uses exec() calls for dealing with git. A similar approach can be taken to deal with svn. Ensure that SVN is baked into the audit server docker image.

We will want to think about how important is the ability to specify a branch or tag to checkout. For git it will use the repo default branch.

[2018-09-20 01:15] jeffpaul opened #165 "Create a Tide scoring plugin"
Originally reported by @brendan-woods on 21/Dec/17 6:44 PM.

Related to #137

[2018-09-26 03:29] jeffpaul commented on #157
Closing this as done, see: https://github.com/wptide/wptide/blob/develop/CODE_OF_CONDUCT.md

[2018-09-26 03:29] #157 closed, assigned to jeffpaul

[2018-10-03 19:39] jeffpaul commented on #44
Notes from @rheinardkorf via Slack:
For Git integration:

- Create a new plugin
- Plugin creates endpoint for GitHub webhook PR event
-- When a PR gets created or updated we can get the ZIP source from `http://github.com/<user>/<project>/archive/<sha>.zip`
-- Add GH status for each audit type as pending
-- Use `add_task` to create a new audit task which will fire off to the audit servers
-- Endpoi

[2018-10-19 16:29] carolinan commented on #100
Zlib, as referenced above and in the prerequisites in the documentation, is a different package than Make.  Since I am having problems with the install, I am not 100% clear here; is this a form of typo, or do I perhaps need to install both Make and Zlib?
My installation of Make is in a different directory, `C:\Program Files (x86)\GnuWin32\bin` and this is the directory I have added to my PATH.

In

[2018-10-22 14:32] jeffpaul commented on #100
Thanks for the details @carolinan, I'm working through some doc updates and will work to get answers to the issues you've pointed out.

[2018-10-25 12:41] ronakganatra9 commented on #100
I am getting this error while make api.up

$ make api.up
Pulling api-mysql (mariadb:10.3)...
10.3: Pulling from library/mariadb
no matching manifest for unknown in the manifest list entries
make: *** [api.up] Error 1

Does any one has any suggestion ?

[2018-10-26 09:51] ronakganatra9 commented on #100
Same issue is coming to me also.

[2018-10-26 11:02] nikola3244 commented on #100
@carolinan and others who experience that error, this might help:

1. Right click Docker instance\*
2. Go to Settings
3. Daemon
4. Advanced
5. Set the "experimental": true
6. Restart Docker

\* Docker Instance is the Docker icon in Windows' task bar

([source](https://stackoverflow.com/a/51071057/5562161))

----

@ronakganatra9 confirmed on Slack that it resolves the issue on his end

[2018-10-27 06:31] ronakganatra9 commented on #100
Yes, @nikola3244 ,

Thanks. It worked for me and my error got fixed.

but after completing the process I received the following error.

Can anyone check it and guide me if I am doing anything wrong.

$ make api.up
Creating go-tide_mongo_1 ...
Creating go-tide_api-redis_1 ... error
Creating go-tide_api-mysql_1 ...

ERROR: for go-tide_api-redis_1  Cannot create container for service api-redis: inval

[2018-10-27 06:40] carolinan commented on #100
I am still getting the same error about the file not being found.

[2018-10-29 11:15] ronakganatra9 opened #168 "Windows 10 : OCI runtime exec failed: the input device is not a TTY."
### Description

I am installing tide on my local windows 10. I have run followed command.
make api.tpl - Success
make api.composer - success
make api.up- success
make api.setup - error

While trying to run make api.setup It gives me following error:
the input device is not a TTY.  If you are using mintty, try prefixing the command with 'winpty'
make: *** [api.setup] Error 1

then i tried using :

[2018-10-29 23:43] #142 closed, assigned to valendesigns

[2018-10-29 23:43] #145 closed, assigned to valendesigns

[2018-11-12 20:57] jeffpaul commented on #90
Closing in favor of #152

[2018-11-12 20:57] #90 closed, assigned to jwold

[2018-11-12 20:58] jeffpaul commented on #77
Related to #152

[2018-11-22 05:16] #91 closed, assigned to rheinardkorf

[2018-11-22 07:06] #59 closed, assigned to nobody

[2018-11-22 07:09] valendesigns commented on #82
This is a duplicate of #91, which is now closed.

[2018-11-22 07:09] #82 closed, assigned to nobody

[2018-11-27 23:00] jrfnl commented on #144
Just saw this issue in the bug scrub.

Some questions:
* Is the version of PHPCompatibility available via the API ? Might be more relevant at this time as those are the checks you are currently using.
* How would you retrieve the version nr of WPCS/PHPCompatibility ? This info is currently not available via PHPCS itself.

[2018-11-28 19:23] jeffpaul commented on #133
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543352595077800).

[2018-11-28 19:24] jeffpaul commented on #132
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543352676080400).

[2018-11-28 19:26] jeffpaul commented on #118
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543352856085900).

[2018-11-28 19:27] jeffpaul commented on #152
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543352885086900).

[2018-11-28 19:38] jeffpaul commented on #152
@jwold if your current designs aren't on this issue, would you please share them here and then create a Meta Trac ticket to cover the implementation of displaying PHP Compatibility results from Tide on wp.org?  Note that as of now we don't have warnings, just errors in the summary report in Tide.  Once the Meta Trac ticket is created, please link to it from this issue and then close this issue as

[2018-11-28 19:38] jeffpaul commented on #97
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543352978089400).

[2018-11-28 19:39] jeffpaul commented on #97
Closing as done per discussion in Slack, we will plan to iterate on the [docs](https://wptide.org/) via additional issues here in GitHub.

[2018-11-28 19:39] #97 closed, assigned to valendesigns, MakiBM

[2018-11-28 19:40] jeffpaul commented on #79
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543353059091500).

[2018-11-28 19:41] jeffpaul commented on #79
Closing this as done with a note that once we complete the PHP Compat work that we'll re-cast for ideas on what to focus on next for Tide and will publish that request and resulting roadmap on [Make/Tide](https://make.wordpress.org/tide/).

[2018-11-28 19:41] #79 closed, assigned to RobStino, jeffpaul

[2018-11-28 19:41] jeffpaul commented on #116
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543353095092100).

[2018-11-28 19:43] jeffpaul commented on #77
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543353257096200).

[2018-11-28 19:44] jeffpaul commented on #85
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543353362099300).

[2018-11-28 19:45] jeffpaul commented on #85
Per discussion in Slack, we're closing this as done.

[2018-11-28 19:45] #85 closed, assigned to nobody

[2018-11-28 19:45] jeffpaul commented on #86
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543353412100600).

[2018-11-28 19:48] jeffpaul commented on #87
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543353461102100).

[2018-11-28 19:49] jeffpaul commented on #102
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543353588104700).

[2018-11-28 19:50] jeffpaul commented on #102
Note that the Glide install is run in the make command, Installing glide should be in the dependency section.  Would be a good-first-issue for someone to review/confirm the README/docs reflect that.

[2018-11-28 19:51] jeffpaul commented on #131
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543353715108600).

[2018-11-28 19:51] jeffpaul commented on #139
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543353746109300).

[2018-11-28 19:52] jeffpaul commented on #139
Per discussion in Slack, we're punting this to `Future Release` as this is technically challenging and may prove to be more effort than we can commit to for `1.0.0`.

[2018-11-28 19:53] jeffpaul commented on #144
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543353843111800).

[2018-11-28 19:54] jeffpaul commented on #144
Per discussion in Slack, we're punting this to `Future Release` when we'll have more time to focus on this issue.

[2018-11-28 19:54] jeffpaul commented on #119
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543353883112700).

[2018-11-28 19:56] jeffpaul commented on #119
Per discussion in Slack, we're going to close this as done noting that we call out our current goal of PHP Compatibility on WordPress.org has been defined for a while and listed on the [Make/Tide](https://make.wordpress.org/tide/) welcome message.  As the product vision evolves we can publish that on Make/Tide.

[2018-11-28 19:56] #119 closed, assigned to jeffpaul

[2018-11-28 19:57] jeffpaul commented on #151
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543353919113600).

[2018-11-28 19:58] jeffpaul commented on #100
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543354041117100).

[2018-11-28 19:58] jeffpaul commented on #112
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543354074118000).

[2018-11-28 19:59] jeffpaul commented on #112
Per discussion in Slack, we're punting this to `Future Release`.

[2018-11-28 19:59] jeffpaul commented on #113
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543354129119300).

[2018-11-28 20:00] jeffpaul commented on #114
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543354169120700).

[2018-11-28 20:00] jeffpaul commented on #136
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543354193121800).

[2018-11-28 20:02] jeffpaul commented on #136
Per discussion in Slack, we're punting this to `Future Release` though I do like the idea as I believe this opens up some automated dependency updates via [GitHub’s probot](https://probot.github.io/) issuing PRs as dependencies get updated.

[2018-11-28 20:37] jeffpaul commented on #146
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543354233123100).

[2018-11-28 20:39] jeffpaul commented on #154
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543354275124400).

[2018-11-28 20:40] jeffpaul commented on #154
Per discussion in Slack, we're closing this as there is no full details option anymore.

[2018-11-28 20:40] #154 closed, assigned to nobody

[2018-11-28 20:40] jeffpaul commented on #155
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543354423128100).

[2018-11-28 20:43] jeffpaul commented on #155
Per discussion in Slack, we're closing this and can re-investigate if the Meta team has a concern with our current designs or have an alternate design approach.

[2018-11-28 20:43] #155 closed, assigned to nobody

[2018-11-28 20:44] jeffpaul commented on #156
Note that this issue was [referenced in Slack](https://wordpress.slack.com/archives/C7TK8FBUJ/p1543354586131100).

[2018-11-28 20:44] jeffpaul commented on #156
Per discussion in Slack, we're punting this to `Future Release`.

[2018-11-29 20:03] jeffpaul commented on #168
Note that this likely relates to #100

[2018-12-01 01:20] #114 closed, assigned to nobody

[2018-12-01 01:58] valendesigns commented on #113
Done

[2018-12-01 01:58] #113 closed, assigned to valendesigns

[2018-12-01 03:17] valendesigns commented on #77
This is going to need to wait unless @rheinardkorf can take a look and fix it on Monday. I took a look at it and discovered that the warnings are being included in the `errors` array in the parsed report, which means we need to ensure a few things happen to make this correct.

First wrap these line [phpcompatibility.go#L61-L97](https://github.com/wptide/pkg/blob/master/process/phpcs/phpcompatibili

[2018-12-09 18:27] kkoppenhaver commented on #141
This happens when a plugin hasn't been audited yet.

You can trigger an audit by appending a version number to the URL, for example `https://wptide.org/api/tide/v1/audit/wporg/plugin/hide-jetpack-promotions/1.0.0`.

Now that we've run an audit on this plugin, the original URL in this ticket resolves.

[2018-12-09 18:46] valendesigns commented on #112
@jeffpaul Now that we can request an audit we need to invalidate the cache when the server sends the payload because the stubbed out post object becomes outdated once the audit runs. I'm moving this back into the 1.0.0 release.

[2018-12-09 18:55] jeffpaul opened #170 "Tide Team and Contributor badging process"
## Issue Overview

Tide doesn't have a defined process for how Tide Team and Tide Contributor badges are credited for those maintaining or contributing.

## Steps to Reproduce (for bugs)

n/a

## Expected Behavior

Tide has a documented process for awarding badges, gets current with badges that should be in place at the moment, and follows the process into the future.

## Current Behavior

Nothing

[2018-12-09 19:13] jeffpaul commented on #170
Initial list of team/contributors: https://github.com/wptide/wptide#credits

[2018-12-09 19:25] kkoppenhaver commented on #102
This is part of the docs and has been slightly expanded with https://github.com/wptide/docs/pull/18

I think adding it to the README depends on what the eventual source of truth is for the docs and is part of the work that @jeffpaul is doing to merge the documentation, with more details in https://github.com/wptide/wptide/issues/133

[2018-12-09 19:51] jeffpaul commented on #170
Here's the color palette  to use when creating any images:

![tide colour palette](https://user-images.githubusercontent.com/2818133/49702017-6eb9ec00-fbb9-11e8-8bbc-20994e65acd2.png)

[2018-12-09 20:22] jeffpaul commented on #133
Per discussion with @valendesigns at WCUS Contributor Day today, the updated plan is to pull in all the additional docs from wptide.org to the wptide repo's readme (and markdown files in a directory).  Then we'll look to replace the docpress theme/build process with something different to publish the docs markdown files up to wptide.org so the documentation site is current and accurate.

[2018-12-09 20:23] jeffpaul commented on #102
@kkoppenhaver the plan is to [have the README be the source of truth](https://github.com/wptide/wptide/issues/170#issuecomment-445565939) for documentation.

[2018-12-09 21:18] kkoppenhaver opened #171 "404 errors within wp-admin when there is no trailing slash"
## Issue Overview
After spinning up Tide locally and navigating to /wp-admin, URLs for any links in the admin sidebar result in 404 errors.

## Steps to Reproduce (for bugs)
1. Create a local Tide install
2. Navigate to http://tide.local/wp-admin (note the lack of trailing slash)
3. Click on a sidebar link
4. See the resulting 404 page

## Expected Behavior
Links within wp-admin should not 404.

#

[2018-12-09 21:29] jeffpaul commented on #133
Update that we're going to reduce the README to Tide local install instructions, everything else will be in the docs and wptide.org.

[2018-12-09 22:11] #171 closed, assigned to nobody

[2018-12-11 20:55] jeffpaul commented on #141
Thanks for the triage on this one @kkoppenhaver, much appreciated!  @grappler does that update help clear things up for you?

[2018-12-17 17:01] cathibosco commented on #170
The art files are needed in a few places - badges, dashicons, pins etc etc....  Here are 2 master files, one is #1526FF and the other is black - from dashicon collection. I have asked the design team inside trello board to assist with making sure the proper files get to all of the proper places.
[Tide.zip](https://github.com/wptide/wptide/files/2687058/Tide.zip)

[2018-12-17 17:13] jeffpaul commented on #170
Awesome, thank you @cathibosco!  Mind linking into the design trello board to the specific task on this so we can see when that's done and ready for us to continue working to resolve this for Tide?

[2018-12-17 21:25] cathibosco commented on #170
I just added the link to this issue to our Trello card - is that what I should have done? @jeffpaul

[2018-12-17 21:28] jeffpaul commented on #170
@cathibosco can you share the link to the design trello card here as well?

[2018-12-17 21:52] cathibosco commented on #170
Sure! https://trello.com/c/FPWBhnod/155-tide-icon-is-ready-tide-team-icon-is-complete-we-need-to-add-it-to-a-few-places-in-the-ecosystem-for-the-team

[2018-12-20 18:29] jeffpaul commented on #170
Note that as part of contributions at WCUS Contributor Day, we'll want to make sure we badge the following once we have Contributor badging setup:
- kkoppenhaver
- croixhaug
- pwtyler

[2018-12-21 15:09] cathibosco commented on #170
Status Update: The Meta team pointed out a couple of wayward anchor points in the vector file. I made the adjustments and did edit the file a bit so this is now the current version - waiting to hear back again  to see if they will be able to approve it now. I feel strongly that it will move forward now... Attached are the simplified "master" versions thus far:
[Tide-simplified.zip](https://github.

[2019-01-09 11:29] paaljoachim commented on #137
Btw having a plugin similar to https://wordpress.org/plugins/p3-profiler/ to measure load times of various resources such as themes and plugin, and check for clean code etc would be great! It would make it real easy for people to check their own web sites and how it is performing.

[2019-01-14 18:45] jeffpaul commented on #131
See also: https://keepachangelog.com/en/1.0.0/

[2019-02-23 03:44] valendesigns commented on #133
This is fixed in the `1.0.0-beta2` branch.

[2019-02-23 03:44] #133 closed, assigned to jeffpaul

[2019-02-23 03:48] #141 closed, assigned to nobody

[2019-02-27 09:19] valendesigns commented on #164
We currently only support `zip` but can easily add `git` and `svn` to the image, the hard part is setting up Go to use those project types.

[2019-02-27 09:20] valendesigns commented on #165
@jeffpaul This seems like out of scope for this project and if anything we would just add scoring back to the API. Should we close this issue?

[2019-02-27 09:23] valendesigns commented on #163
@jeffpaul This seems out of scope for this project, should we close the issue.

[2019-02-27 09:24] valendesigns commented on #162
This is from the old PHP server.

[2019-02-27 09:24] #162 closed, assigned to nobody

[2019-02-27 09:26] valendesigns commented on #161
Fixed in this commit https://github.com/wptide/wp-tide-api/commit/2e95491a75725f46b3d2644f28c29c7d40e87b22

[2019-02-27 09:26] #161 closed, assigned to nobody

[2019-02-27 09:27] valendesigns commented on #159
It already supports this. All that is required is a Tide API user account.

[2019-02-27 09:27] #159 closed, assigned to nobody

[2019-02-27 09:32] valendesigns commented on #156
I need an example of a sniff that only invalidates PHP 5.6 to test this out.

[2019-02-27 09:36] #132 closed, assigned to jeffpaul

[2019-02-27 09:51] valendesigns commented on #146
Since the key and secret for local development have been updated and do not contain any hash symbols all we need to do here is ensure that the key and secret in the `wp-tide-api` plugin don't add a hash. The auto generated key already doesn't add a hash because special_chars are set to false in the call to `wp_generate_password`. I've updated the plugin to make sure the secret has the `#` replaced

[2019-02-27 09:55] valendesigns commented on #144
We have some `ENV`'s in the Dockerfile that we can use to generate this info. I just need to add a new field to the Go struct and send it with the payload. It should be pretty easy.

[2019-02-27 09:57] valendesigns commented on #140
IDK about this. Some of our dependencies will make the sky fall if they get updated automagically.

[2019-02-27 09:59] valendesigns commented on #139
This one is super frustrating and hard to test locally. It's really obvious in a cloud environment where the Kubernetes pods are hitting the message queue so fast that it seems like 1-3 pods pick it up at the near same time.

[2019-02-27 10:04] #146 closed, assigned to nobody

[2019-02-27 10:15] valendesigns commented on #118
This has been address in the 1.0.0-bet2 branch.

[2019-02-27 10:15] #118 closed, assigned to jeffpaul

[2019-02-27 10:16] valendesigns commented on #115
This is way out of scope for the project. Closing it.

[2019-02-27 10:16] #115 closed, assigned to nobody

[2019-02-27 10:18] valendesigns commented on #136
Closing this issue, we will continue on as they are with Glide. If we ever update Go then I'll reopen this.

[2019-02-27 10:18] #136 closed, assigned to nobody

[2019-02-27 10:18] #131 closed, assigned to nobody

[2019-02-27 10:19] valendesigns commented on #121
It's not needed, closing for now.

[2019-02-27 10:19] #121 closed, assigned to nobody

[2019-02-27 10:20] #111 closed, assigned to valendesigns

[2019-02-27 10:20] #102 closed, assigned to nobody

[2019-02-27 10:21] #89 closed, assigned to nobody

[2019-02-27 10:22] #87 closed, assigned to luboskmetko

[2019-02-27 10:23] valendesigns commented on #86
This is not needed

[2019-02-27 10:23] #86 closed, assigned to luboskmetko

[2019-02-27 10:24] valendesigns commented on #84
Out of scope for the project, we have the `GET` endpoint for the `wporg` user to request audits. Anything else is not needed.

[2019-02-27 10:24] #84 closed, assigned to nobody

[2019-02-27 10:25] #80 closed, assigned to nobody

[2019-02-27 10:26] valendesigns commented on #71
The vars are still being pulled into the Go binary but not used. That would need to be updated before they can be removed.

[2019-02-27 10:27] #77 closed, assigned to valendesigns

[2019-02-27 10:27] valendesigns commented on #45
Not in scope for this project. Closing for now.

[2019-02-27 10:27] #45 closed, assigned to nobody

[2019-02-27 10:28] valendesigns commented on #44
Closing, this is out of scope for this project.

[2019-02-27 10:28] #44 closed, assigned to nobody

[2019-02-27 10:29] valendesigns commented on #29
I cannot reproduce. Closing for now.

[2019-02-27 10:29] #29 closed, assigned to valendesigns, rheinardkorf

[2019-02-27 10:38] #75 closed, assigned to nobody

[2019-02-27 10:40] #149 closed, assigned to nobody

[2019-02-27 10:42] #148 closed, assigned to nobody

[2019-02-27 10:58] valendesigns commented on #100
This seems related to this issue in OS X...

1. If you see the following error in your OS X terminal when bringing up the API you need to add the `/Users` directory to the `Preferences -> File` Sharing section of the Docker for Mac app, or whatever the root directory is for you `$GOPATH`.

[code]

1. The other possibility is that the container doesn't have permission to create directories inside t

[2019-02-27 11:03] valendesigns commented on #168
You have to be running the API when you attempt to run the setup script. So that means you need to have two shells open, one that you do `make api.up` and another that you do `make api.setup` after the API responds in the other shell with this:

```api-php_1 | [27-Feb-2019 05:54:46] NOTICE: ready to handle connections```

@ronakganatra9 can you confirm this is still an issue?

[2019-02-28 06:43] valendesigns commented on #116
Fixed in the 1.0.0-beta2 branch

[2019-02-28 06:43] #116 closed, assigned to valendesigns

[2019-02-28 08:04] valendesigns opened #176 "Add favicon to the docs site"
## Issue Overview
We need to add a favicon of the Tide icon to the docs site.

## Steps to Reproduce (for bugs)
Open a browser, navigate to https://wptide.og

## Expected Behavior
I see a favicon 😉

## Current Behavior
I do not see a favicon 🤣

## Possible Solution
You can easily add a favicon to the customizer — just need the image.

## Todos
- [x] Create a 512px png favicon
- [x] Add the favicon

[2019-02-28 13:20] valendesigns opened #177 "Upgrade to WordPress 5.3"
Need to update Core in the Tide repo which means figuring out what changed in the REST API in 5.0+ that is causing breakage. We are stuck using an old version of Core until we have time to troubleshoot that. It’s going to take some domain knowledge of Tide and REST API to fix it. It would be great if someone figured it out but it’s probably not obvious.

[2019-03-01 13:00] valendesigns commented on #151
This is now fixed and deployed. Basically the issue is that the `GOOGLE_APPLICATION_CREDENTIALS` environment variable was not set correctly on Google App Engine. So I worked out a way to add credentials with the deploy. However, this means that the solution is likely only temporary until I find a fix where the App Engine instances use their own credentials like their supposed to. Resolved for now.

[2019-03-01 13:00] #151 closed, assigned to valendesigns, rheinardkorf

[2019-03-01 14:49] valendesigns commented on #168
Closing. We can reopen if it's still an issue.

[2019-03-01 14:49] #168 closed, assigned to nobody

[2019-03-12 20:52] cathibosco commented on #176
Here you go! Cheers @jeffpaul @valendesigns
![tide-icon-512x512](https://user-images.githubusercontent.com/4819761/54235280-45299d00-44e7-11e9-8856-0672f572e1d3.png)

[2019-03-12 21:12] valendesigns commented on #176
Thank you @cathibosco I've added it to the site.

[2019-03-12 21:12] #176 closed, assigned to nobody

[2019-03-14 07:09] valendesigns opened #178 "Rate limit changes should be reflected on the API Client"
## Issue Overview
Currently the rate limit is incrementing on the Audit Client instead of the API Client for proxied requests. Meaning that the PHPCS & Lighthouse Servers use an Audit Client to proxy the request on behalf of the API Client. Those servers make `POST` requests to the API to write data on behalf of the `wporg` user and should be exempt of all rate limiting.

## Steps to Reproduce
You

[2019-03-19 17:36] jeffpaul commented on #139
@rheinardkorf any chance you'd be able to work on a PR for this?

[2019-03-21 19:47] jwold commented on #152
@jeffpaul dropping in the latest design here. They haven't been updated in quite a while.

![Group](https://user-images.githubusercontent.com/3411173/54780488-1ee6ba00-4bd7-11e9-9987-9c54052d1cb5.png)

![Group 2](https://user-images.githubusercontent.com/3411173/54780489-1ee6ba00-4bd7-11e9-91f2-0c5b98dc2b08.png)

Created a placeholder Trac ticket on Meta. Thanks!

https://meta.trac.wordpress.org/t

[2019-03-21 21:36] coffee2code commented on #170
As a followup: now that the Tide dashicon was added for WP 5.2, the following tasks have been completed:

* Badges for Tide Team and Tide Contributor have been created.
* Badges have been assigned to users (per [meta4157](https://meta.trac.wordpress.org/ticket/4157#comment:2) and the [comment above](https://github.com/wptide/wptide/issues/170#issuecomment-449092737)).
* Tide was added to the [Prof

[2019-04-02 20:30] jeffpaul opened #180 "Support plugin-specific and theme-specifc rulesets"
## Issue Overview

@jrfnl has [created example code](https://github.com/jrfnl/QA-WP-Projects) highlighting possible rulesets for plugins and themes (instead of using the full WPCS core ruleset).  We should look to support these rulesets for plugin and theme reviews.

## Expected Behavior
Add in two new rulesets to support specific reviews for plugins and themes.

## Current Behavior
We currently a

[2019-04-09 20:11] jeffpaul commented on #147
Closing this as it was an umbrella placeholder for the larger scope of work that has since been decomposed into separate issues.

[2019-04-09 20:11] #147 closed, assigned to nobody

[2019-05-14 20:38] jeffpaul commented on #124
@rheinardkorf would you be open to someone chatting with you on that topic, drafting a blog post on make/tide, and then you working on final edits to share a post on that topic?

[2019-05-14 20:39] jeffpaul commented on #137
@hellofromtonya any chance you'd want to work up a PR to start adding this sort of info to Tide?

[2019-05-14 20:40] jeffpaul commented on #152
Closing this work as complete on our end, remaining integration work will be handled via the Meta team using these designs and our API coming in the 1.0.0 release to display this data on .ORG.

[2019-05-14 20:40] #152 closed, assigned to jwold

[2019-05-14 20:50] jeffpaul commented on #170
@cathibosco feel like you've got bandwidth to take the draft process doc linked in the original description and get that polished akin to the Community Team announcement and publish on Make/Tide by the end of June?  We're starting to get some smaller contributions and would be good to have a defined credit/props/badging process defined (ideally by WCEU for folks who show up to Contributor Day ther

[2019-05-14 21:18] jeffpaul commented on #140
After some research, [Renovate](https://github.com/marketplace/renovate/plan/MDIyOk1hcmtldHBsYWNlTGlzdGluZ1BsYW45NTk=#pricing-and-setup) looks like a solid option.  It's free for open source projects and [heavily](https://github.com/googleapis/google-auth-library-nodejs/pulls?q=is%3Apr+renovate+is%3Aclosed) [used](https://github.com/googleapis/nodejs-tasks/pulls?q=is%3Apr+renovate+is%3Aclosed) [by

[2019-05-14 21:19] jeffpaul commented on #140
Not saying we should have the PRs get auto-merged, but have the PRs ready for our review/merge seems like its helpful.

[2019-05-14 21:28] jeffpaul commented on #140
Blerg, looks like [Renovate](https://renovatebot.com/docs/configuration-options/#golang) and [Dependabot](https://dependabot.com/go/) both require `go.mod` or `dep` to be used.

[2019-05-14 21:30] jeffpaul commented on #140
Related, we closed prior issue #136 to update to `dep`, so we're probably not getting any automation help here though I'll continue to search for other options.

[2019-05-14 21:33] jeffpaul commented on #140
Looks like we could mimic how [others have migrated from glide to dep](https://github.com/kubernetes-retired/federation/pull/237) and [just cross our fingers and give it a try](https://blog.gauravagarwalr.com/posts/2018-02-17-migrating-from-glide-to-dep/)?

[2019-05-20 16:40] hellofromtonya commented on #137
Hey @jeffpaul, Sorry for the delay in my response. For the next several months, I don't have extra capacity to work on the PR.  I'd love for someone to take the lead on this one before then to get it rolling.

[2019-06-18 20:37] cathibosco commented on #170
I will take a look! @jeffpaul

[2019-06-19 15:13] cathibosco commented on #170
@jeffpaul -

1. The badges are styled up with CSS... Here is a screenshot with inspector. https://canddstudios.d.pr/EChxdf
2. I suggested edits to the doc here: https://docs.google.com/document/d/15H_kRwbVyR11mDQHe0VqUj7rjvdWHilQwFK41wEk_FM/edit#heading=h.u0p5gsihqj1g
3. Missing is a "handbook" and please review the edits I suggested... I am not sure the links to the pages I suggested are optimal

[2019-06-20 10:01] ottok opened #184 "Extend the JSON output to inclide 'incompatible_versions'"
## Current Behavior

Currently the JSON output includes this:
[code]

There is however no indication of what versions was tested or what versions the plugin/theme is *NOT* compatible with.
        ]

## Possible Solution

Extend the JSON output to have a 'incompatible_versions' field. Then the output would be something like:
[code]

As a side note please start testing for PHP 7.3 compatibility as

[2019-06-20 11:00] grappler commented on #180
As discussed with @valendesigns at WCEU contributor day there is a ruleset for themes: https://github.com/WPTRT/WPThemeReview

It is stable but more rulesets will be added/updated in the future.

[2019-06-20 11:18] ottok commented on #184
The API seems to be generated via https://github.com/wptide/pkg/blob/master/tide/tide.go. I tried to figure out how to fix this myself but the code layout has so many abstractions that I can't follow it.

[2019-06-20 12:49] ottok opened #185 "Generate new WP Tide reports when a major dependency updates"
## Current Behavior

Currently WP Tide scans a plugin every time it is uploaded to WordPress.org.
Some plugins are updated only once a year or so. Therefore the report will be outdated.

For example if a plugin was updated 2018-12-01 the PHP compatibility scan reported results for PHP 5.2–7.2. Then is somebody looks at the report on 2019-06-01 it still states that the supported PHP versions are 5.

[2019-06-20 13:24] ottok commented on #184
I scanned through wp-tide-api and it does not have the string `compatible_versions` anywhere, so I suspect no changes is needed to that plugin.

Somebody who has the full pipeline set up on their computer should test my patch in https://github.com/wptide/pkg/pull/19 if it actually works.

[2019-06-20 16:29] jeffpaul commented on #184
@ottok welcome to Tide and thanks for the feedback!  I agree that makes sense to include the incompatible versions that we've tested as well, thanks for calling this out and working towards a solution.

[2019-06-20 16:33] jeffpaul commented on #185
@ottok given how quickly Tide can audit the entire repo, this seems reasonable.  Mind if we just update this issue to be `Add PHP 7.3 compatibility auditing` and then open another for `Add PHP 7.4 compatibility auditing` with both noting that we should re-audit all plugins against the new PHP version?

[2019-06-20 17:10] jeffpaul commented on #170
@cathibosco in place of a "handbook", I think we can utilize the [documentation site](https://wptide.org) and find the best place there to host this info.

[2019-06-20 17:19] jeffpaul commented on #170
@cathibosco I'm thinking `Profile Badges` can be a section at the end of https://www.wptide.org/contributing.  Seem good to you?

[2019-06-20 19:14] jeffpaul commented on #170
Just published the announcement on make/tide: https://make.wordpress.org/tide/2019/06/20/tide-profile-badges/

[2019-06-20 21:30] dd32 opened #186 "Pending API responses get cached for too long"
## Issue Overview
When requesting a report for a specific version of a plugin, if Tide doesn't yet have a report for it it'll start to generate one and return a `<p>pending</p>` response.

That response then gets cached, and will return the `<p>pending</p>` response until it expires.
Suffixing a `?1` to the URL to bypass the URL caching then results in being able to access it.

## Steps to Reprodu

[2019-06-20 21:34] cathibosco commented on #170
Well done @jeffpaul - Love the Tide Documentation site!

[2019-06-20 21:57] jeffpaul commented on #186
@dd32 thanks for the feedback on this one, is there a recommended length to expire the cache that's used for things on the plugin repo that we can mirror for Tide?

[2019-06-24 21:17] jeffpaul commented on #180
@grappler in that case, should we split this into two issues (one for plugins and one for themes)?  Possibly leaving this one for plugins and creating a new one for themes using details from the ruleset the TRT created?

[2019-06-24 22:35] jrfnl commented on #180
@jeffpaul Short summary of what was decided regarding this during the meeting at WCEU:
* The TRT repo will be renamed to a more generic name and moved to the wp.org GH account.
* In the (near) future, the repo will contain:
    - a Review sniffs directory which should not be directly used, this will (and does) contain theme/plugin review specific sniffs which are too specific for WPCS.
    - a The

[2019-07-16 19:47] jeffpaul commented on #170
Closing as the final items were resolved in https://github.com/wptide/docs/pull/35.

[2019-07-16 19:47] #170 closed, assigned to jeffpaul

[2019-07-16 19:48] jeffpaul commented on #100
Moving to `Future Release` as there hasn't been progress on testing this and providing feedback / updating docs for Windows users.  For 1.0.0 we'll focus support on *nix systems and look to better support Windows when feasible.

[2019-08-20 01:16] #184 closed, assigned to ottok

[2019-08-20 14:05] jeffpaul commented on #184
@ottok note the recently merged PR, please confirm that it appears updated properly now... thanks!

[2019-09-03 19:49] jeffpaul commented on #124
Given how long it's been since the GCP migration and our focus being on 1.0.0, I'm going to close this issue.  Should someone have time to work on some marketing efforts, we can re-open this or a new issue and track things there.

[2019-09-03 19:49] #124 closed, assigned to jeffpaul

[2019-09-10 20:06] jeffpaul commented on #71
Moving this to `Future Release` as its a non-blocker for the `1.0.0` release.

[2019-09-10 20:08] jeffpaul commented on #156
The logic appears to be working correctly, but testing this to ensure there aren't odd cases where things are wrong would be helpful.  Going to move this to `Future Release` but add a `good first issue` label to have folks help test this for us.

[2019-09-22 01:50] jeffpaul commented on #180
@jrfnl are the theme and plugin specific rulesets available and in a state that Tide should switch to using those?

[2019-09-22 07:37] dingo-d commented on #180
`WPThemeReview` has some new features, but also has an issue with false positives, especially in escaping and prefixing sniffs. It can be used (it's used in Twenty Twenty theme), but a lot of work needs to be done on it.

[2019-09-24 20:22] pierlon commented on #177
Working on this.

[2019-09-24 20:25] pierlon commented on #144
Working on this.

[2019-09-24 20:58] jrfnl commented on #144
Loosely related: https://github.com/squizlabs/PHP_CodeSniffer/issues/2600

[2019-10-01 03:03] kkoppenhaver commented on #178
Started to look into this, but when I hit `http://tide.local/api/tide/v1/audit/wporg/theme/twentyseventeen/2.1/` after running all the setup steps, I just get the homepage of the WP install. Still trying to track down why that's happening.

[2019-10-01 03:06] kkoppenhaver commented on #178
Activating the `WP Tide API` and `WPOrg Tide API` plugins seems to have helped as well as setting the permalink settings to `Post name`

[2019-10-05 04:44] jrfnl opened #193 "Update PHPCompatibility and related dependencies"
## Issue Overview

### Dependencies are out of date

Most PHP_CodeSniffer related dependencies are out of date.

https://github.com/wptide/wptide/blob/ed9f15907c9c865e92f84843a7a53e7ec3a8e06d/service/phpcs-server/docker/Dockerfile#L6-L12

Latest releases:
* PHP_CodeSniffer: [3.5.0](https://github.com/squizlabs/PHP_CodeSniffer/releases)
* PHPCompatibility: [9.3.1](https://github.com/PHPCompatibilit

[2019-10-05 04:46] jrfnl commented on #138
I can highly recommend using the [`Parallel-Lint`](https://github.com/JakubOnderka/PHP-Parallel-Lint) package for speedy linting, works on PHP 5.4 and higher, so this might be a good option for when this issue gets addressed.

[2019-10-05 04:51] jrfnl opened #194 "Remove outdated ruleset"
The ruleset as found here: https://github.com/wptide/wptide/tree/7a9890d291cdd96ff0161aecfcb920cea1c37d56/cmd/phpcs-server/testdata

... should no longer be used and should be removed. If anything, it should be replaced by just using `PHPCompatibilityWP`.

[2019-10-07 17:16] jeffpaul commented on #193
Thanks for the wonderfully detailed issue @jrfnl, we'll look to review this during Tidechat and hopefully get someone assigned to handling this!

[2019-10-07 17:17] jeffpaul commented on #194
Thanks for calling this out @jrfnl, we'll work to get someone assigned to swapping this ideally ahead of Tide's 1.0 release!

[2019-10-08 20:09] derekherman commented on #194
The custom ruleset only exists to test that we can override a ruleset not that it's used in production. I don't believe we need to do anything here.

[2019-10-08 20:19] #194 closed, assigned to derekherman

[2019-10-09 00:13] jrfnl commented on #194
Glad to hear it, though most people won't realize this when they come across it and may take it as a "good example".

Would be great if we could avoid that situation.

Suggestions:
* Add a BIG WARNING as a comment in the file and point to the `PHPCompatibilityWP` repo.
* Update the ruleset to a more realistic example using `PHPCompatibilityWP`.
    If I understand you correctly, the content should

[2019-10-09 00:22] derekherman commented on #194
Yes, correct it’s just for testing. We can change the file to be a more accurate example.

[2019-10-15 20:05] derekherman commented on #144
This has been completed in #196

[2019-10-15 20:05] #144 closed, assigned to pierlon

[2019-10-28 19:38] #193 closed, assigned to nobody

[2019-10-28 20:05] jrfnl commented on #193
Note: while the out-of-date versions have now been addressed, the manual setting of `installed_paths` and the fact that Composer is not allowed to properly manage dependencies, has not (been addressed).

[2019-10-28 20:56] derekherman commented on #193
We need to explicitly track the versions, they are being used as part of the Tide API response now. So when an audit happens we know which version of PHPCS and the associated standard was executed. So that part of the task is not likely to be changed.

[2019-10-29 20:12] jeffpaul commented on #139
Punting this to `Future Release` per today's [Tidechat discussion](https://wordpress.slack.com/archives/C7TK8FBUJ/p1572379217031100).

[2019-11-03 20:29] kkoppenhaver commented on #178
We've discovered that this is a configuration level issue rather than a code level problem.

Swapping the `API_KEY` and `API_SECRET` values that are in the `.env` file to those for the `wporg` user caused the counts to be incremented correctly, so this change will need to be made in the cloud as well.

[2019-11-03 21:18] jeffpaul commented on #112
Punting this from `1.0.0` to `Future Release` as it was identified in WCUS Contributor Day today that #186 is the more relevant blocker for 1.0.0.

[2019-12-03 21:21] kkoppenhaver commented on #186
PR for this is here: https://github.com/wptide/wporg-tide-api/pull/6

[2019-12-03 21:36] jeffpaul commented on #178
@derekherman sounds like we need you to change the config (.env) files on GCP to resolve this, is that correct?

[2019-12-17 22:00] derekherman commented on #177
Closing in favor of #198

[2020-01-21 21:29] jeffpaul commented on #178
From today's [Tidechat](https://wordpress.slack.com/archives/C7TK8FBUJ/p1579640477004300):

@kkoppenhaver are you able to help take a look at what's needed here?

[2020-07-07 18:08] jeffpaul commented on #177
Reopening this issue to track the issues related to upgrading WordPress versions and Tide no longer working.

[2020-07-07 18:11] jeffpaul commented on #177
For anyone else following along, if you’re able to help test Tide by installing locally (https://wptide.org/installation) and troubleshooting what isn’t working after the WP 5.3 upgrades that would be SUPER helpful.

[2020-07-07 18:13] pattonwebz commented on #177
Will try set aside some time to do a local install test this week :)

[2020-09-16 16:33] jeffpaul opened #203 "Node rewrite"
## Issue Overview
As noted in the [September 15th Tidechat](https://make.wordpress.org/tide/2020/09/16/tide-chat-summary-september-15th/), we're researching a Tide write in Node to simplify the architecture and make Tide easier to maintain.  This issue will track major updates on this research, discussion, decision, and as feasible eventual implementation.

## Todos
- [ ] [OASv3 API spec](https://

[2020-09-16 16:35] jeffpaul opened #204 "OASv3 API spec"
## Issue Overview
As noted in the [September 15th Tidechat](https://make.wordpress.org/tide/2020/09/16/tide-chat-summary-september-15th/), we're researching a Tide write in Node to simplify the architecture and make Tide easier to maintain and as part of that will require a documented [OASv3 API spec](https://swagger.io/specification/) for Tide. This issue will track work on the Tide API spec.

##